<DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript">
      function initialize() {
        // global vars
        var map;
        var marker;
        // location for center of map
        var nyc = {lat: 40.71955054111941, lng: -73.99858474731445};
        // create the map
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 14,
          center: nyc
        });
        // add listener to create marker on click
        google.maps.event.addListener(map, 'click', function(event){
          placeMarker(event.latLng);
        });
        placeCrimes({{crimes | safe}});
        // create marker function
        function placeMarker(location){
          if(marker){
            marker.setPosition(location);
          } else {
            marker = new google.maps.Marker({
              position: location,
              map: map
            });
          }
          document.getElementById('latitude').value = location.lat();
          document.getElementById('longitude').value = location.lng();
        }
        function placeCrimes(crimes){
          for(i=0; i<crimes.length; i++){
            crime = new google.maps.Marker({
              position: new google.maps.LatLng(crimes[i].latitude, crimes[i].longitude),
              map: map,
              title: crimes[i].date + "\n" + crimes[i].category + "\n" + crimes[i].description
            });
          }
        }
      }

    </script>
    <title>Crime Map</title>  
  </head>

  <body onload="initialize()">
    <h1>Crime Map</h1>
    <div id="map-canvas"></div>
    <div id="newcrimeform">
      <h2>Submit New Crime</h2>
      <form action="/submitcrime" method="POST">
        <label for="category">Category</label>
        <select name="category" id="category">
          <option value="mugging">Mugging</option>
          <option value="breakin">Break-in</option>
        </select>
        <label for="date">Date</label>
        <input name="date" id="date" type="date" />
        <label for="latitude">Latitude</label>
        <input name="latitude" id="latitude" type="text" />
        <label for="longitude">Longitude</label>
        <input name="longitude" id="longitude" type="text" />
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="A brief but detailed description of the crime"></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
    <a href="/clear">Clear</a>
  </body>
</html>